In [2]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [8]:
total_actions = df.action.count()
total_actions

8188

In [37]:
unique_users = df.id.nunique()
unique_users

6328

In [41]:
control = df.query('group == "control"').id.nunique()
experiment = df.query('group == "experiment"').id.nunique()
control,experiment

(3332, 2996)

In [56]:
df.query('timestamp < "2017"').nunique()

timestamp    6904
id           5340
group           2
action          2
dtype: int64

In [58]:
df.action.unique()

array(['view', 'click'], dtype=object)