In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('../data/fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

In [2]:
df.describe()

       transaction_id     duration
count     8793.000000  8793.000000
mean     55243.384510    29.704626
std      21792.120147     7.464452
min      17301.000000     0.215113
25%      36454.000000    25.211787
50%      55420.000000    29.923160
75%      74131.000000    34.532567
max      92828.000000    60.412763

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  8793 non-null   int64
 1   duration        8793 non-null   float64
 2   day             8793 non-null   object
 3   fraud           8793 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 214.8+ KB

In [5]:
df[['no_fraud', 'fraud']] = pd.get_dummies(df['fraud'])
df.head()

   transaction_id   duration      day  fraud  no_fraud
0           28891  21.302600  weekend      0         1
1           61629  22.932765  weekend      0         1
2           53707  32.694992  weekday      0         1
3           47812  32.784252  weekend      0         1
4           43455  17.756828  weekend      0         1

In [6]:
df = df.drop('no_fraud', axis=1)

In [10]:
df['intercept'] = 1

In [11]:
logit_mod = sm.Logit(df['fraud'], df[['intercept', 'duration']])
res = logit_mod.fit()
res.summary()

Optimization terminated successfully.
         Current function value: inf
         Iterations 16

/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1747: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1800: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fraud   No. Observations:                 8793
Model:                          Logit   Df Residuals:                     8791
Method:                           MLE   Df Model:                            1
Date:                Sun, 26 Apr 2020   Pseudo R-squ.:                     inf
Time:                        22:32:23   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     10.3827      1.756      5.912      0.000       6.940      13.825
duration      -1.3404      0.237     -5.649      0.000      -1.805      -0.875
==============================================================================

Possibly complete quasi-separation: A fraction 0.97 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [12]:
df.head()

   transaction_id   duration      day  fraud  intercept
0           28891  21.302600  weekend      0          1
1           61629  22.932765  weekend      0          1
2           53707  32.694992  weekday      0          1
3           47812  32.784252  weekend      0          1
4           43455  17.756828  weekend      0          1

In [13]:
df[['weekday', 'weekend']] = pd.get_dummies(df['day'])
df.head()

   transaction_id   duration      day  fraud  intercept  weekday  weekend
0           28891  21.302600  weekend      0          1        0        1
1           61629  22.932765  weekend      0          1        0        1
2           53707  32.694992  weekday      0          1        1        0
3           47812  32.784252  weekend      0          1        0        1
4           43455  17.756828  weekend      0          1        0        1

In [14]:
df.day.unique()

array(['weekend', 'weekday'], dtype=object)

In [15]:
df = df.drop('weekend', axis=1)
df.head()

   transaction_id   duration      day  fraud  intercept  weekday
0           28891  21.302600  weekend      0          1        0
1           61629  22.932765  weekend      0          1        0
2           53707  32.694992  weekday      0          1        1
3           47812  32.784252  weekend      0          1        0
4           43455  17.756828  weekend      0          1        0

In [45]:
import numpy as np
import pandas as pd
import statsmodels.api as sm


df = pd.read_csv('../data/fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

In [46]:
df[['no_fraud', 'fraud']] = pd.get_dummies(df['fraud'])
df = df.drop('no_fraud', axis=1)

In [47]:
df[['weekday', 'weekend']] = pd.get_dummies(df['day'])
df = df.drop('weekend', axis=1)

In [48]:
df.head()

   transaction_id   duration      day  fraud  weekday
0           28891  21.302600  weekend      0        0
1           61629  22.932765  weekend      0        0
2           53707  32.694992  weekday      0        1
3           47812  32.784252  weekend      0        0
4           43455  17.756828  weekend      0        0

In [49]:
df.fraud.mean()

0.012168770612987604

In [50]:
df.query('fraud == 1').duration.mean()

4.624247370615657

In [51]:
df.weekday.mean()

0.3452746502900034

In [52]:
df.query('fraud == 0').duration.mean()

30.013583132522555

In [53]:
df['intercept'] = 1

In [54]:
logit_mod = sm.Logit(df['fraud'], df[['intercept', 'duration', 'weekday']])
res = logit_mod.fit()
res.summary()

Optimization terminated successfully.
         Current function value: inf
         Iterations 16

/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1747: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1800: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/home/mupati/anaconda3/envs/nanodegree/lib/python3.6/site-packages/statsmodels/base/model.py:548: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  fraud   No. Observations:                 8793
Model:                          Logit   Df Residuals:                     8790
Method:                           MLE   Df Model:                            2
Date:                Sun, 26 Apr 2020   Pseudo R-squ.:                     inf
Time:                        22:55:21   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      9.8709      1.944      5.078      0.000       6.061      13.681
duration      -1.4637      0.290     -5.039      0.000      -2.033      -0.894
weekday        2.5465      0.904      2.816      0.005       0.774       4.319
==============================================================================

Possibly complete quasi-separation: A fraction 0.98 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [55]:
duration = np.exp(-1.4637)
weekday = np.exp(2.5465)
duration, weekday

(0.2313785882117941, 12.762357271496972)

In [56]:
1/duration

4.321921089278333