In [172]:
import pandas as pd
from bs4 import BeautifulSoup
import os

In [173]:
# Import the Rotten Tomatoes bestofrt TSV file into a DataFrame
df = pd.read_csv('data/bestofrt.tsv', sep="\t")
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [174]:
with open('data/rt_html/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file, 'lxml')

In [175]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [176]:
df_list = []
folder = 'data/rt_html'

for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', attrs={"class": "audience-score"}).find('span', attrs={"style": "vertical-align:top"}).contents[0][:-1]
        num_audience_ratings = soup.find('div', attrs={"class": "audience-info"}).find_all('div')[1].contents[2].strip().replace(',','')
        
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df_scraped = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])
df_scraped.head()

,title,audience_score,number_of_audience_ratings
0,Singin' in the Rain (1952),95,137643
1,Gravity (2013),80,301261
2,Finding Nemo (2003),86,33355673
3,The Bride of Frankenstein (1935),87,24471
4,Seven Samurai (Shichinin no Samurai) (1956),97,90049